#content{
	margin: 0 200px 0 200px;
}

img {
	display: inline-block;
/*	float: left;
	clear: left;*/
	vertical-align: left
	height: 300px;
	width: 250px;
	background-size: contain;
	padding: 20px 20px 20px 0px;
}

p {
	padding-bottom: 50px;
}